@use "/src/Variables";

.form-component{
    flex-flow: column;
    margin-bottom: 10px;
}

textarea{
    min-height: 20vh;
}

.incidence-form{
    button{
        border-color: Variables.get-color("primary-gray-dark");
        background-color: Variables.get-color("primary-gray-dark");
        color: Variables.get-color("primary-gray");
    }
    h2{
        margin-bottom: 10px;
    }
}

.thanks-message{
    text-align: center;
}
