h2{
    margin: 0px;
}

.info-home{
    flex-flow: column;
    margin-bottom: 16px;
}

.title{
    text-align: center;
}

.recommended-container{
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    row-gap: 10px;
}

.recommended{
    flex-flow: column;
    gap: 6px;
}

.recommended-title{
}

.recommended-body{
    font-style: italic;
    text-align: center;
}