#header{
    padding: 24px 15%;
    font-weight: bolder;
    font-size: 24px;
}

#page-title{
    span{
        margin-right: 10px;
    }
}

#navbar{
    gap: 10px;
    svg{
        margin-right: 4px;
    }
}

