@use "Variables";
@use "Mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  color: Variables.get-color("font-color");
  background-color: Variables.get-color("primary-green");
  min-height: 90vh;
  a{
    text-decoration: none;
    color: inherit;
    &:hover{
        text-decoration: underline;
    }
  }
}

input,
button {
  all: unset;
}

#main-content{
  margin-top: 10vh;
  min-height: 90vh;
  flex-flow: column;
}